/*
font-family: 'Kumbh Sans', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/

body {
  font-family: "Kumbh Sans", sans-serif !important;
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  color: rgba(0, 0, 0, 0.5);
}

/*toggler navbar*/
.navbar-toggler {
  outline: none !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.navbar-toggler:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/*images ALL*/
img {
  border-radius: 10px;
}

/*small*/
small {
  color: hsl(26, 100%, 55%) !important;
  font-weight: 700 !important;
}

/*all btns*/
.button {
  background-color: hsl(26, 100%, 55%) !important;
  color: white;
  border: none;
}

.button:hover {
  background-color: hsla(26, 100%, 55%, 0.5) !important;
  color: white !important;
}

.button:active {
  color: white !important;
  background-color: hsl(26, 100%, 55%) !important;
}

.btn-outline {
  border: 1px solid hsl(26, 100%, 55%);
  background-color: transparent !important;
  color: hsl(26, 100%, 55%);
}

.btn-outline:hover {
  background-color: hsl(26, 100%, 55%) !important;
  color: white;
}

.btn-outline:active {
  border: 1px solid hsl(26, 100%, 55%) !important;
  background-color: transparent !important;
  color: hsl(26, 100%, 55%) !important;
}

/*alerts*/
.alert {
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 30px;
  right: 30px;
}

/*modal */
.modal-header {
  border: none !important;
}

.modal-body {
  padding-top: 0 !important;
}

/*nav pill cart*/

.rounded-pill {
  background-color: hsl(26, 100%, 55%) !important;
}

input {
  background-color: hsl(223, 64%, 98%) !important;
}

hr {
  display: none !important;
}
